body{
    font-family: sans-serif;
    margin:0;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.navbar{
    position:fixed;
    top:0%;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: fgba(10, 10, 15, 0.95);
    backdrop-filter: blur(12px);
    padding: 1.5rem 10%;
    border-bottom: 1px solid rgba(168, 85, 247, 0.25);
    z-index: 1000;
}

.nav-links{
    display:flex;
    list-style: none;
    gap: 25px;
}

.nav-links li a{
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}
.nav-links li a:hover{
    color: #a855f7;
    text-shadow: 0 0 8px rgba(168, 85, 247, 0.8);
}

.nav-links li a::after{
    content: "";
    position:absolute;
    left:0;
    bottom: -5px;
    width:0%;
    height: 2px;
    background: #a855f7;
    transition: 0.3s;
}

.nav-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #a855f7;
    text-shadow: 0 0 10px rgba(168, 85, 247, 0.6);
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background: radial-gradient(
        circle at top,
        rgba(168, 85, 247, 0.15)
        #0a0a0f 60%
        );
}

.hero-content h1{
    font-size: 50px;
    color: #e5e7eb;
}

.hero-content h1 span{
    color: #a855f7;
    text-shadow: 0 0 15px rgbs(168, 85, 247, 0.6);
}

.hero-content p{
    font-size: 18px;
    margin-top: 10px;
    color: #cbd5e1;
}

.sub-text{
    margin-top: 15px;
    font-size: 06px;
    color: #94a3b8;
    max-width: 600px;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 15px;
    }
}